---
import { Linkedin, Github } from 'lucide-svelte';
---

<ul class='flex gap-5'>
  <li><a href='/linkedin'><Linkedin class='text-white' /></a></li>
  <li><a href='/github'><Github class='text-white' /></a></li>
</ul>
